# ---- Global ----
*.log
*.env
.env.*
.DS_Store
Thumbs.db
*.zip


# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.egg
*.egg-info/
.Python
.env/
.venv311/
venv311/
.venv/
venv/
pip-wheel-metadata/
*.sqlite3

# ---- Go ----
*.exe
*.test
*.out
*.mod
*.sum
vendor/
bin/
*.log
*.tmp
*.cache
*.pkl
*.csv

# Go coverage profiles
*.cover
*.coverprofile

# ---- Node.js / React ----
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# Next.js / React build output
.next/
out/
*.tsbuildinfo
coverage/

# ---- Docker ----
*.dockerfile
docker-compose.override.yml
.docker/
docker-data/
tmp/
**/tmp/
**/logs/
logs/

# Avoid committing local Docker volumes or bind-mounts
volumes/
*.pid

# ---- IDEs and Editors ----
.vscode/
.idea/
*.swp
*.swo

# ---- OS Files ----
.DS_Store
ehthumbs.db
Icon?
Desktop.ini